### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [213]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [214]:
#Variabeles

## Player Count

* Display the total number of players

In [215]:
pidcount = purchase_data["Purchase ID"].value_counts()
pidcount = len(pidcount)
pidcount

780

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [216]:
uniqueitems = purchase_data["Item Name"].unique()
uniqueitemslist = list(uniqueitems)
uniqueitemslistcount = len(uniqueitemslist)
uniqueitemslistcount

AVGPrice = purchase_data["Price"].mean()
AVGPriceF = '${:,.2f}'.format(AVGPrice)
AVGPrice



TotalSales = purchase_data["Price"].sum()
TotalSalesF = '${:,.2f}'.format(TotalSales)

Summary = {"Number of Unique Items": uniqueitemslistcount,
            "Average Price":  AVGPriceF,
            "Total Sales": TotalSalesF}
Summary

{'Number of Unique Items': 179,
 'Average Price': '$3.05',
 'Total Sales': '$2,379.77'}

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [217]:
Gcount = purchase_data["Gender"].value_counts()
Gcount

MCount = purchase_data.loc[purchase_data["Gender"] == "Male", :].value_counts()
MCounts = len(MCount)
MCounts
MPer = MCounts/pidcount
MPerF = "{:.2%}".format(MPer)
MPerF

FCount = purchase_data.loc[purchase_data["Gender"] == "Female", :].value_counts()
FCounts = len(FCount)
FCounts
FPer = FCounts/pidcount
FPer
FPerF = "{:.2%}".format(FPer)
FPerF


NaCount = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed", :].value_counts()
NaCounts = len(NaCount)
NaCounts
NaPer = NaCounts/pidcount
NaPer
NaPerF = "{:.2%}".format(NaPer)
NaPerF

GenderDF = pd.DataFrame({"Amount of Male Player": [MCounts, MPerF],
                        "Amount of Females Players": [FCounts, FPerF],
                        "Amount of Other / Non-Disclosed": [NaCounts, NaPerF]})
GenderDF.index = ["Count", "Percentage"]
GenderDF

,Amount of Male Player,Amount of Females Players,Amount of Other / Non-Disclosed
Count,652,113,15
Percentage,83.59%,14.49%,1.92%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [254]:
PGGroup = purchase_data.groupby(["Gender"])
PGGroupComM =  PGGroup.mean()
PGGroupComM.columns = ["Purchase ID", "Age", "Item ID", "Average Price"]
PGGroupComM

PGGroupComS =  PGGroup.sum()
PGGroupComS.columns = ["Purchase ID", "Age", "Item ID", "Total Price"]
PGGroupComS

# PGGroupComST =  PGGroup.sum("Total")
# PGGroupComST.columns = ["Purchase ID", "Age", "Item ID", " Average Total Price"]
# PGGroupComST


Merge1 = pd.merge(PGGroupComM, PGGroupComS, on="Gender", how="outer")
del Merge1['Purchase ID_x']
del Merge1['Purchase ID_y']
# del Merge1['Purchase ID']
del Merge1['Item ID_x']
del Merge1['Item ID_y']
# del Merge1['Item ID']
del Merge1['Age_y']
del Merge1['Age_x']

Merge1["Purchase Count"] = [FCounts, MCounts, NaCounts]
Merge1

# # # Merge1.columns['Age','Average Price', "Total Price"]

                       Average Price  Total Price  Purchase Count
Gender
Female                      3.203009       361.94             113
Male                        3.017853      1967.64             652
Other / Non-Disclosed       3.346000        50.19              15

In [393]:
Agebin = [0,9,14,19,24,29,34,39, 1000]
Agelabels = ["0-9", "10-14"," 15-19", "20 - 24", " 25-29", "30-34", "35-39", "40 and up"]

purchase_data["Age Range"] = pd.cut(purchase_data["Age"], Agebin, labels=Agelabels, include_lowest=True)
# purchase_data

Age_group = purchase_data.groupby("Age Range")
# AgeGroupC = Age_group[["Age", "Price"]].count()
AgeGroupM = Age_group[["Age", "Price"]].mean()
AgeGroupM["Price"] = AgeGroupM["Price"].map("${:.2f}".format)
AgeGroupM["Age"] = AgeGroupM["Age"].round(2)

AgeGroupM.rename(columns = {"Age":"Average Age", "Price" : "Average Price"}, inplace = True)
AgeGroupM
# AgeGroupC
# pidcount

           Average Age Average Price
Age Range
0-9               7.87         $3.35
10-14            11.39         $2.96
 15-19           16.79         $3.04
20 - 24          21.84         $3.05
 25-29           26.00         $2.90
30-34            31.38         $2.93
35-39            36.71         $3.60
40 and up        41.54         $2.94

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [396]:
AgeGroupC = Age_group[["Age"]].count()
AgeGroupCM = AgeGroupC/pidcount
# AgeGroupPF = AgeGroupCM.DataFrame({"Age Group": "Age"})
AgeGroupCM["Percentage of User"] = AgeGroupCM["Age"].map("{:.2%}".format)
AgeGroupCM

PMerge1 = pd.merge(AgeGroupM, AgeGroupCM, on="Age Range", how="outer")
del PMerge1['Age']

PMerge1.head()

# PMerge1.rename(columns = {"Age_x":"Average Age", "Price" : "Average Price"}, inplace = True)
PMerge1
# rankings_pd.rename(columns = {'test':'TEST'}, inplace = True) 
# Age_X 
# Price

           Average Age Average Price Percentage of User
Age Range
0-9               7.87         $3.35              2.95%
10-14            11.39         $2.96              3.59%
 15-19           16.79         $3.04             17.44%
20 - 24          21.84         $3.05             46.79%
 25-29           26.00         $2.90             12.95%
30-34            31.38         $2.93              9.36%
35-39            36.71         $3.60              5.26%
40 and up        41.54         $2.94              1.67%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Ranges,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80